.app {
    min-height: 100vh;
}
.search-form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    width: 50vw;
    padding: 10px;
}
.search-button{
    background-color: white;
    border: none;
    background-color: rgb(61, 61, 250);
    padding: 15px 40px;
    color: white;
    border-radius: 10%;

}
.recipes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   }

